h1 {     color: teal; 
}
button:hover {
  background-color: bisque
}
button {
    cursor: pointer;
    font-size: 20px;
}

#title{ 
    
    text-align: center;
    padding-top: 200px;
    background-image: url('../images/spruce-h0eO9ya3ZAM-unsplash.jpg');
    background-position: center top;
}